@font-face {
  font-family: Exo;
  src: url(./fonts/Exo-Variable.ttf);
}

/* Styles for the default root window element */
:root {
  --background-color-primary: #fff;
  --background-color-secondary: #eaeaea;
  --accent-color: #837b7b;
  --text-primary-color: #041628;
  --text-secondary-color: #93BE76;
  --element-size: 4rem;
  --border-radius-default: 0.5rem;
}

/* Styles for the default root window element with dark mode preference */
:root.dark-theme {
  --background-color-primary: #041628;
  --background-color-secondary: #0D2233;
  --accent-color: #3f3f3f;
  --text-primary-color: #fff;
  --text-secondary-color: #93BE76;
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 2rem;
  font-weight: normal;
  font-family: "Exo", "Lato", sans-serif;
  color: #fff;
  box-sizing: border-box;
}

button {
  padding: 1rem 2rem;
  background-color: var(--background-color-secondary);
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius-default);
  color: var(--text-primary-color);
  width: 30%;
}

button:hover {
  background-color: var(--text-secondary-color);
  cursor: pointer;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
